@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme inline {
  --font-alumni-sans: var(--font-alumni-sans);
  --font-abel: var(--font-abel);
  --font-afacad-flux: var(--font-afacad-flux);
  --font-aldrich: var(--font-aldrich);
  --font-geist-mono: var(--font-geist-mono);

  /* Artex Theme Colors */
  /* --color-bg-deep: var(--bg-deep); */
  /* --color-bg-surface: var(--bg-surface); */
  /* --color-bg-card: var(--bg-card); */
  /* --color-border-neon: var(--border-neon); */
  /* --color-border-subtle: var(--border-subtle); */

  --color-deep: var(--deep);
  --color-surface: var(--surface);
  --color-card: var(--card);
  --color-neon: var(--neon);
  --color-subtle: var(--subtle);
  --color-neon-blue: var(--neon-blue);
  --color-neon-bright: var(--neon-bright);
  --color-neon-glow: var(--neon-glow);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

:root {
  /* Artex Custom Theme Colors */
  --deep: #03030f;
  --surface: #060b18;
  --card: #0a1128;
  --neon: #0062ff;
  --subtle: #1a2744;
  --neon-blue: #0062ff;
  --neon-bright: #00aaff;
  --neon-glow: #4f46e5;
  --accent: #00aaff;
  --primary: #ffffff;
  --secondary: #9ca3af;
}
